#current-pokemon{
    display: flex;
    justify-content: space-evenly;
}

#current-team{
    display:flex;
    justify-content: center; 
     /* float: right; */
    /* border-style: solid; */
    box-sizing: border-box;
    height: 35%;
    width: auto;
} 
#pokePick{
    display: flex; 
    height: 100%;
    width: auto;
    box-sizing: auto;
}
.content-left{
    height: 1vh;
    width: 25%;
    float: left;
<<<<<<< HEAD
}
=======
    display:flex;
    display:block;
}
#historyBtn{
    display: block;
}
#search-pokemon{
    display:flex;
    display: inline;
}
>>>>>>> cbd4b1e347bd6f927b3557bece38185da6bdc9a2
