*{
    font-family: 'Pokemon Solid', sans-serif; 
}

#current-pokemon{                                
    display: flex;
    justify-content: space-evenly;
}
body{
    /* background-color: orangered; */
    background-image: url(../images/pokeball.png);
    background-size: auto 1000px;
    margin: 0%;
    color: black;
    font-size: 18px;
    
}
#current-team{
    display:flex;
    justify-content: center;
     /* float: right; */
    /* border-style: solid; */
    box-sizing: border-box;
    height: 35%;
    width: auto;
    /* background-color: orangered; */
    padding-top: 200px;
    
} 
#pokePick{
    display: flex;
    height: 100%;
    width: auto;
    box-sizing: auto;
    
}
.content-left{
    height: 1vh;
    width: 25%;
    float: left;
    padding-bottom: 1px;
    padding-right: 1px;
}
    /* display:flex;
    display:block;
} */
#historyBtn{
    display: block;
}
#search-pokemon{
    display:flex;
    display: inline;
    width: 75%;
}
h1{
    font-size: 48px;
}

#header{
   text-align: center;
   -webkit-text-stroke: 2px blue;
   color: yellow;
   padding-bottom: 5px;

}
h2{
    font-size: 24px;
    color: yellow;
    -webkit-text-stroke:1px blue;
    
}

#pokeCard{
    border: 1px solid black;
    background-color: wheat;
   
}

#clear{
    -webkit-text-stroke:1px blue;
    color: yellow;
}

#search-button{
    height: 150%;
}